html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  background: #000000;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

header {
  overflow: hidden;
  background: #323232;
  color: white;
  white-space: nowrap;
}

header ul li {
  list-style-type: none;
  display: flex;
  padding: 15px 20px;
}

header ul li b {
  font-size: 20px;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

header p {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.tip-text {
  background-color: rgba(0,0,0,0.5);
  padding: 5px 15px;
  color: rgba(255,255,255,0.7);
  display: none;
}

main {
  overflow: hidden;
  background: #1e1e1e;
  text-align: center;
  color: white;
  height: 100%;
  padding: 150px 0px;
}

section {
  overflow: hidden;
  background: #323232;
  text-align: center;
  color: white;
  padding: 80px 0px;
}

footer {
  text-align: center;
  overflow: hidden;
  bottom: 100%;
  color: white;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  overflow-wrap: break-word;
}

.buttons a {
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  background: black;
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid;
}

@media screen and (max-width: 440px) {
  .tip-text{
    display: block;
  }
  .buttons a {
    display: block;
    margin: 20px 60px;
  }
}
